# Compiled object files
*.o
*.ko
*.obj
*.elf
*.dylib

# Compiled dynamic libraries
*.so

# Executables
*.exe
*.out

# CMake build directory
build/
CMakeFiles/
CMakeScripts/
Testing/
cmake-build-debug
bstC
# Visual Studio Code
.vscode/

# Clion
.idea/
.idea
# Binary directory
bin/

# Dependency directories
deps/
